body{    
    /* background-image: url("../images/back2.jpg"); */
    background-repeat: no-repeat;
    background: cover;
    height:100vh;
}
.location{
    display:none;
}
.deliver{
    display:none;
}
#process{
    display:none;
}