.pg{
    background-image: url("../images/back2.jpg");
    background-image: cover;
    

}
.landing{
background-image: url("/images/back2.jpg");
background-repeat: no-repeat;
background-image: cover;
}
#header{
    background-image: url("../images/back2.jpg");
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    
}
